:root {
  /* Couleur */
--bg-primary: #1c1917;
--text-primary: #f5f5f4;
--text-secondary: #a8a29e;
--accent-primary: #fbbf24;
--accent-secondary: #f59e0b;
--link-color: #fcd34d;


  
  /* Typography */
  --font-family: sans-serif;
  --font-size-h1: 4rem;
  --font-size-h2: 2rem;
  --font-size-body: 1.2rem;
  
  /* Espacement */
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  
  /* Effets */
  --text-shadow-primary: 2px 2px 0px var(--accent-primary);
  --text-shadow-secondary: 2px 2px 0px var(--accent-secondary);
  --border-width: 2px;
  --border-radius: 5px;
  --transition-speed: 0.3s;
  
  /* Animation */
  --float-distance: -20px;
  --float-rotation: 5deg;
  --float-duration: 6s;
  --blink-duration: 4s;
  --astronaut-size: 300px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: var(--spacing-sm);
  text-shadow: var(--text-shadow-primary);
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-sm);
  text-shadow: var(--text-shadow-secondary);
}

p {
  font-size: var(--font-size-body);
  color: var(--text-secondary);
  margin-bottom: var(--spacing-lg);
}

a {
  color: var(--link-color);
}

.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border: var(--border-width) solid var(--accent-primary);
  color: var(--accent-primary);
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition-speed);
  border-radius: var(--border-radius);
}

.btn:hover {
  background-color: var(--accent-primary);
  color: var(--text-primary);
}

/* SVG Animation */
.astronaut-svg {
  width: var(--astronaut-size);
  height: auto;
  animation: float var(--float-duration) ease-in-out infinite;
}

.eye {
  animation: blink var(--blink-duration) infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(var(--float-distance)) rotate(var(--float-rotation));
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes blink {
  0%, 90%, 100% {
    transform: scaleY(1);
  }
  95% {
    transform: scaleY(0.1);
    transform-origin: center;
  }
}